html {
  height: 100%;
  width: 100%; 
}
body {
  height: 100%; 
  width: 100%;
}
.App {
  height: 100%; 
  display: flex; 
  flex: 1; 
  justify-content: space-around;
  flex-direction: column;
  background: #efefef; 
}

.infoSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #181818; 
}
.sideBySide {
  /* height: 80%;  */
  width: 90%;
  margin: 0px 30px 0px 30px;
  display: flex; 
  justify-content: space-between;
  flex-direction: row;
}
.uploadSection { 
  width: 25%; 
  display: flex;
  flex-direction: column;
  background: #7b7b7b;
}
.uploadButtons { 
  height: fit-content; 
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #181818;
}
.uploadButton { 
  height: fit-content; 
  width: fit-content;
  background: #1D1D1D;
  border: 2px solid #7B7B7B;
  border-radius: 2px;
  color: #EFEFEF;
  margin: 2px 2px 2px 2px;
}
.uploadInput { 
  height: fit-content; 
  text-wrap: wrap;
  margin: auto;
  width: fit-content;
  color: #EFEFEF;
}
.unratedContainer { 
  width: 100%; 
  height: 90%;
  background: #232323;
}
.tierContainer { 
  width: 70%; 
  background: #181818;
}
.tierRow { 
  display: flex; 
  flex-direction: row;
  margin: 4px;
}
.tierTitle { 
  background-color: "white"; /* Default Color */
  width: 20%; 
  display: flex;
  flex-direction: column;
  font-size: 150%;
  text-align: center;
  /* box-shadow: inset #ffffff85 0px -4px 2px; */
}

.item {
  width:80px;
  height:80px;
  margin:4px; 
}
.itemContainer { 
  width: 100%;
  height: 100%;
  min-height: 88px;
  background-color: #232323;
  margin: 0px; 
  /* box-shadow: inset #45444a -4px -4px 2px; */
}
#button #input { 
  border: solid 4px white;
  
}
